In [107]:
import pandas as pd
import numpy as np

df = pd.read_csv("netflix_data.csv")

#clean which don't have title
rating_df = df.dropna(subset=['rating'])
#rating with counts
rating_counts = rating_df.groupby('rating')['rating'].count()

#Most common rating
highest_rating = rating_counts[rating_counts==rating_counts.max()].index


df.info()
print(df.head())
df.tail()
#Movies released in 2015
movies_release_in_2015 = len(df[df['release_year']==2015])


#Movies or tv shows released in india
df.dropna(subset=['country'], inplace=True)
items_release_in_india = df[df['country'].str.lower()=='india'].pivot_table(index='release_year', columns='type', values='title', aggfunc='count')
items_release_in_india =items_release_in_india.fillna(0).astype('int')
items_release_in_india['Total Releasd'] = items_release_in_india['Movie']+items_release_in_india['TV Show']

#Top 5 countries of producing netflix content
top_countries = df.groupby('country')['title'].count().sort_values(ascending=False).head()
top_countries

# For each rating, show how many movies and how many TV shows exist.
rating_wise_count = rating_df.pivot_table(index='rating', columns='type', values='title', aggfunc='count')
rating_wise_count = rating_wise_count.fillna(0).astype('int')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

          Movie  TV Show
rating
66 min        1        0
74 min        1        0
84 min        1        0
G            41        0
NC-17         3        0
NR           75        5
PG          287        0
PG-13       490        0
R           797        2
TV-14      1427      733
TV-G        126       94
TV-MA      2062     1145
TV-PG       540      323
TV-Y        131      176
TV-Y7       139      195
TV-Y7-FV      5        1
UR            3        0